body {
    padding: 0;
    margin: 0;
    font-size: 500px;
}
.reader_elements {
    width: 100%;
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    border-color: black;
    font-size: 100px;
    box-sizing: border-box;
    margin-bottom: 20px;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

#container > button {
    aspect-ratio: 1 / 0.7; /* makes buttons square */
    width: 100%;
    font-size: 5rem;
    box-sizing: border-box;
}

#response {
    display: flex;
    width: 100%;
}

#response > button {
    flex: 1;
    height: 200px;
    font-size: 2rem;
    box-sizing: border-box;
}

.blue {
    background: #60ccff;
}

.orange {
    background: orange;
}

.gray {
    background: gray;
}